input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
:root{
    font-family: Arial, Helvetica, sans-serif;
    color: #687c8b;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centro horizontal */
    align-items: center;     /* Centro vertical */
    background-color: #f5f5f5; /* Opcional */
}

.logo{
    max-width: 30%;
    object-fit:contain;
}


.vercont {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background-color: azure;
    display: flex;
    gap: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     box-shadow:0 2px 4px rgba(0,0,0,.1);
}


.vercont h3, input{
    text-align: center;
}


.cont-anio input{
    width: 100px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    color: #687c8b;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.btncnf:hover{
    font-weight: bold;
    cursor: pointer;

}
