/* ================= HEADER ================= */

.header{
    position: sticky;
    top:0;
    z-index:1000;
    background:#fff;
    border-bottom:1px solid #ddd;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow:0 2px 4px rgba(0,0,0,.1);
}


/* ================= LOGO ================= */

.logoBox{

    display:flex;
    justify-content:center;
    align-items:center;

    height:100px;

    background:#fff;
}

.logo{

    max-width:100%;
    max-height:100%;

    object-fit:contain;
}


/* ================= MENU ================= */

.menu{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
}


/* Links principales */

.menu > a,
.dropdown > a{

    display:block;
    text-decoration:none;
    color:#333;
    font-weight:bold;
    padding:15px 0;
    transition:.3s;
}


/* Hover */

.menu > a:hover,
.dropdown > a:hover{

    color:#a37b28;
}


/* ================= LINEAS ================= */

.menu > *{

    position:relative;
}


/* Dibuja una línea únicamente entre elementos */

.menu > *:not(:last-child)::after{

    content:"";

    position:absolute;

    right:-30px;

    top:50%;

    transform:translateY(-50%);

    width:1px;

    height:22px;

    background:#ddd;
}


/* ================= DROPDOWN ================= */

.dropdown{

    position:relative;

    display:flex;

    align-items:center;
}


/* Submenú */

.submenuProductos{
    display:none;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    min-width:150px;
    background:#fff;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    overflow:hidden;
}


/* Links del submenú */

.submenuProductos a{
    display:block;
    text-align:center;
    padding:12px 20px;
    text-decoration:none;
    color:#333;
    font-weight:normal;
}


.submenuProductos a:hover{
    background:#f0f0f0;
    color:#a37b28;
 }


/* Mostrar el submenú */

.dropdown:hover .submenuProductos{

    display:block;
}

/* ================= CARRUSEL ================= */

.contenedorCarrusel{
    width: 800px;
    max-width: 100%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 10%;
}
.carruselBotonIzq{
    left: 10px;
}
.carruselBotonDer{
    right: 10px;
}
.boton:hover{
    background-color: rgba(0, 0, 0, 0.7);
}


.deslizar{
   min-width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.deslizar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carruselTracker{
    display:flex;
    height:100%;
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}


/* ================= CELULAR ================= */

@media (max-width:768px){

    .logoBox{
        display:none;
    }
    
    .header{
        border-radius:0;
    }

    .menu{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:20px;
        padding:0px;
        margin:0px;
        flex-wrap:wrap;
       
    }
    .menu > a,
    .dropdown > a{
        padding:10px;

        font-size:14px;

    }
    .menu > *:not(:last-child)::after{
        right:-5px;
        height:14px;
    }

    .contenedorCarrusel{
        width: 80%;
        height: 300px;
    }
    .carruselTracker{
        width:100%;
        height: 100%;
    }
    .deslizar{
        flex-shrink: 0 0 100%;
        height: 100%;
        
    }
        
    
    .deslizar img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        
    }
   .img1{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}